*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(landing.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main-nav
{
    float: right;
    list-style: none;
    margin: 25px;
}

.main-nav li
{
    display: inline-block;
}

.main-nav li a
{
    color: white;
    text-decoration: none;
    font-family: "Dense";
    font-size: 40px;
}

.main-nav li a:hover
{
    border: 3px solid white;
    color: darkcyan;
    
}

.choose
{
    position: absolute;
    width: 100%;
	margin: 0 auto;
	top: 40%;
	text-align: center;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: "Arkhip";
}

.mark-bt
{
	position: relative;
	margin-top: 25px;
    list-style: none;
    width: 100%;    
}

.mark-bt li
{
    display: inline-block;
}

.mark-bt li a
{
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    border: 1px solid white;
    font-family: "Dense";
    font-size: 50px;
}

.mark-bt li a:hover
{
    color: darkcyan;
}
