*
{
    margin: 0;
    padding: 0;
	border: 1px solid white;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(subject.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h1
{
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    font-family: "Arkhip";
}

.subject
{
		top: 40%;
        position: absolute;
        width: 100%;
        margin: 0 auto;
      
}

.dropbtn-s, .dropbtn-d {
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.menu {
	height: 100px;
	width: 100%;
	margin: 0 auto;
}

.menu li {
	margin: 0px;
	list-style: none;
	font-family: fantasy;
}

.menu a {
	transition: all linear 0.15s;
	color: #919191;
}

.menu li:hover > a {
	color: #be5b70;
}

.menu > ul > li {
	float: left;
	display: inline-block;
	position: relative;
	font-size: 19px;
}

.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

.menu > ul > li:hover > a {
    background:#2e2728;
}

.menu li:hover .dropdown-content-subject, .menu li:hover .dropdown-content-difficulty {
	z-index: 1;
	opacity: 1;
}

.dropdown-content-subject, .dropdown-content-difficulty {
	width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#2e2728;
}

.dropdown-content-subject, .dropdown-content-difficulty {
	display: block;
	font-size: 16px;
}

.dropdown-content-subject li a, .dropdown-content-difficulty li a{
	padding: 10px 30px;
	display: block;
	text-decoration: none;
} 

.dropdown-content-subject li a:hover, .dropdown-content-difficulty li a:hover {
    background:#3e3436;
}



















